<!-- templates/rental_app/cars/rent_car.html -->

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wypożyczenie Samochodu</title>
</head>
<body>
    <h1>Wypożyczenie samochodu: {{ car.brand }} {{ car.model }}</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Zarezerwuj</button>
    </form>

    <p>Wybierz daty wypożyczenia:</p>
    <form method="POST">
        {% csrf_token %}
        <label for="start_date">Data początkowa:</label>
        <input type="date" name="start_date" id="start_date" required><br>

        <label for="end_date">Data końcowa:</label>
        <input type="date" name="end_date" id="end_date" required><br>

        <button type="submit">Zarezerwuj</button>
    </form>

</body>
</html>
